.app-flex {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.game-title {
  font-size: 3rem;
}

.heading-choose-team {
  font-size: 1.25rem;
}

.choose-player-button {
  margin: 0 1rem 2rem 1rem;
  text-decoration: none;
  border: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
}

.game-status-next-player {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-square {
  font-size: 1.5rem;
  border: 1px solid grey;
  background-color: #fffae5;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 1px;
}

.reset-button {
  margin: 2rem;
  text-decoration: none;
  border: none;
  color: white;
  background-color: #00cc00;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
}

.red {
  background-color: #ef4423;
  color: white;
}

.blue {
  background-color: #2a3492;
  color: white;
}

.blue-text {
  color: #2a3492;
}

.orange-text {
  color: #ff9526;
}

.red-text {
  color: #ef4423;
}

.flex-player-assignment {
  display: flex;
  flex-direction: row;
}

.heading-player-assignment {
  margin: 2rem 1rem;
  font-size: 1rem;
}
